.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 5rem;
    color: #ecfeff;
    font-size: 1.2rem;
}

.wrapper button {
    border: none;
    background-color: #a855f7;
    padding: 1rem;
    border-radius: 10px;
    font-size: 1.2rem;
    color: #ecfeff;
}

.wrapper button:hover {
    background-color: #e9d5ff;
    color: #681dae;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 500px;
    background: linear-gradient(#4338ca, #4c1d95);
    border-radius: 10px;
    padding: 1rem;
    gap: 1rem;
}

.title {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    width: 500px;
}

.expendedItem {
    width: 500px;
    font-size: 1rem;
}